<!DOCTYPE html>
<html lang="en">

<head>
  <title>Panduan Petugas UCC</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=0.8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/e2fb75d014.js" crossorigin="anonymous"></script>
  <style>
    .table-borderless>tbody>tr>td,
    .table-borderless>tbody>tr>th,
    .table-borderless>tfoot>tr>td,
    .table-borderless>tfoot>tr>th,
    .table-borderless>thead>tr>td,
    .table-borderless>thead>tr>th {
      border: none;
    }

    td {
      text-align: center;
    }

    th {
      text-align: center;
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      height: auto;
    }
  </style>
</head>

<body>
  <div class="container">
    <h6>PANDUAN UNTUK PETUGAS UCC</h6>
    <ol>
      <li>Apabila kemasukan 'Order' baru, kemaskini 'Status' kepada TERIMA.</li>
      <li>Klik LINK untuk buka Google Sheet dan lakukan semakan dan sorting pesakit.</li>
      <li>Setelah selesai rujukan ke PKRC, klik butang SHARE di kanan atas Google Sheet.</li>
      <img src="/static/images/share.png" class="center" width="50%">
      <li>Tukar kepada Anyone with link.</li>
      <img src="/static/images/anyone.png" class="center">
      <li>Kembali ke paparan UCC working list, tukar 'Status' kepada SIAP.</li>
      <li>Buat panggilan ke CAC/PKD berkenaan untuk konfirmasi dan pengurusan pengangkutan.</li>
    </ol>

    <h6>PANDUAN LINE LISTING BERMASALAH</h6>
    <ol>
      <li>Apabila berlaku masalah ketika sorting pesakit, klik butang SHARE di kanan atas Google Sheet.</li>
      <li>Tukar kepada Anyone with link dan Editor.</li>
      <img src="/static/images/editor.png" class="center">
      <li>Kembali ke paparan UCC working list, tukar 'Status' kepada MASALAH.</li>
      <li>Buat panggilan ke CAC/PKD berkenaan untuk tindakan susulan.</li>
      <li>Mohon PIC lakukan edit di LINK berkenaan atau muatnaik senarai yang dikemaskini dengan mengisi Google
        Form
        yang baru.</li>
    </ol>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

</body>

</html>