<!DOCTYPE html>
<html lang="en">

<head>
  <title>UCC Daily Report</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=0.8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/e2fb75d014.js" crossorigin="anonymous"></script>
  <style>
    .table-borderless>tbody>tr>td,
    .table-borderless>tbody>tr>th,
    .table-borderless>tfoot>tr>td,
    .table-borderless>tfoot>tr>th,
    .table-borderless>thead>tr>td,
    .table-borderless>thead>tr>th {
      border: none;
    }

    td {
      text-align: center;
    }

    th {
      text-align: center;
    }

    .center {
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</head>
<header>
  <div class="container" align="center">
    <h2>UCC Daily Report {{ date_times }}</h2>
  </div>
</header>

<body>
  <div class="container" align="right">
    <a href="{{ url_for('worklist') }}" button type="button" class="btn btn-primary">Worklist</a>
    <br>
    <br>
  </div>
  <!---<div id="expand" class="container" width="70%">
    <table class="table" width="100%">
      <thead>
        <tr>
          <th>PKRC</th>
          <th>Jumlah</th>
          <th><i data-toggle="tooltip" title="Lelaki" class="fas fa-male fa-2x"></i></th>
          <th><i data-toggle="tooltip" title="Perempuan" class="fas fa-female fa-2x"></i></th>
          <th><i data-toggle="tooltip" title="Bawah 12 tahun" class="fas fa-child fa-2x"></i></th>
          <th>CAT1</i></th>
          <th>CAT2</i></th>
          <th>CAT3/4</th>
          <th>PUS</th>

        </tr>
      </thead>
      <tbody>

        <tr>
          <td style="text-align:left">SUKPA</td>
          {% for item in sukpa_input %}
          <td>{{ item }}</td>
          {% endfor %}
        </tr>
        <tr>
          <td style="text-align:left">ILKKM</td>
          {% for item in ilkkm_input %}
          <td>{{ item }}</td>
          {% endfor %}
        </tr>
        <tr>
          <td style="text-align:left">UMP</td>
          {% for item in ump_input %}
          <td>{{ item }}</td>
          {% endfor %}
        </tr>
        <tr>
          <td style="text-align:left">I-KPKT</td>
          {% for item in ikpkt_input %}
          <td>{{ item }}</td>
          {% endfor %}
        </tr>
        <tr>
          <td style="text-align:left">KUIPSAS</td>
          {% for item in kuipsas_input %}
          <td>{{ item }}</td>
          {% endfor %}
        </tr>
        <tr>
          <td style="text-align:left">Maran</td>
          {% for item in maran_input %}
          <td>{{ item }}</td>
          {% endfor %}
        </tr>
        <tr>
          <td style="text-align:left">UNITEN</td>
          {% for item in uniten_input %}
          <td>{{ item }}</td>
          {% endfor %}
        </tr>
        <tr>
          <td style="text-align:left">Temerloh</td>
          {% for item in temerloh_input %}
          <td>{{ item }}</td>
          {% endfor %}
        </tr>
        <tr>
          <td style="text-align:left">Jumlah</td>
          {% for item in sum_pkrc %}
          <td>{{ item }}</td>
          {% endfor %}
        </tr>

      </tbody>
    </table>
  </div>--->
  <div class="container">
    <div id="simplified" style="width: 400px; margin:0 auto;">
      <table class="table">
        <thead>
          <tr>
            <th colspan="3" style="font-weight: bold ;">*LAPORAN PENEMPATAN PESAKIT KE PKRC OLEH UCC
              {{ date_times }}*</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align:left">SUKPA     </td>
            <td>{{ sukpa_input[0] }}</td>
            <td>{{ empty(sukpa_input[7]) }}</td>
          </tr>
          <tr>
            <td style="text-align:left">ILKKM  </td>
            <td>{{ ilkkm_input[0] }}</td>
            <td>{{ empty(ilkkm_input[7]) }}</td>
          </tr>
          <tr>
            <td style="text-align:left">UMP     </td>
            <td>{{ ump_input[0] }}</td>
            <td>{{ empty(ump_input[7]) }}</td>
          </tr>
          <tr>
            <td style="text-align:left">Maran    </td>
            <td>{{ maran_input[0] }}</td>
            <td>{{ empty(maran_input[7]) }}</td>
          </tr>
          <tr>
            <td style="text-align:left">UNITEN   </td>
            <td>{{ uniten_input[0] }}</td>
            <td>{{ empty(uniten_input[7]) }}</td>
          </tr>
          <tr>
            <td style="text-align:left">Jumlah(PUS)     </td>
            <td>{{ sum_pkrc[0] }}</td>
            <td>{{ empty(sum_pkrc[7]) }}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
    integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
    crossorigin="anonymous"></script>

  <script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })
    var popover = new bootstrap.Popover(document.querySelector('.popover-dismiss'), {
      trigger: 'focus'
    })
  </script>
  <script>
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
</body>

</html>