<!DOCTYPE html>
<html lang="en">

<head>
  <title>UCC Petugas Worklist</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=0.8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/e2fb75d014.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <style>
    .table-borderless>tbody>tr>td,
    .table-borderless>tbody>tr>th,
    .table-borderless>tfoot>tr>td,
    .table-borderless>tfoot>tr>th,
    .table-borderless>thead>tr>td,
    .table-borderless>thead>tr>th {
      border: none;
    }

    td {
      text-align: center;
    }

    th {
      text-align: center;
    }
  </style>
</head>
<header>
  <div class="container" align="center">
    <h2>UCC Petugas Worklist {{ date_times }} </h2>
  </div>
</header>

<body>
  <div class="container" align="right">
    <a href="{{ url_for('report') }}" button type="button" class="btn btn-primary" target="_blank">Report</a>
    <a href="{{ url_for('archive') }}" button type="button" class="btn btn-primary" target="_blank">Archive</a>
    <br>
    <br>
  </div>
  <div class="container">
    <div id="listorder">
      <table class="table" width="100%">
        <thead>
          <tr>
            <th>Rujukan</th>
            <th>PIC</th>
            <th>Contact</th>
            <th><i class="fas fa-male fa-2x"></i></th>
            <th><i class="fas fa-female fa-2x"></i></th>
            <th><i class="fas fa-user-friends fa-2x"></i></th>
            <th>Catatan</th>
            <th>GS</th>
            <th>Excel</th>
            <th><i class="fas fa-trash-alt fa-lg"></i></th>
            <th>Status</th>

          </tr>
        </thead>
        <tbody>
          {% for dict_sheet,num_range in uccform %}

          <tr>
            <td style="text-align:left">{{ dict_sheet.cac }}</td>
            <td style="text-align:left">{{ dict_sheet.pic }}</td>
            <td>{{ dict_sheet.contact }}</td>
            <td>{{ dict_sheet.male }}</td>
            <td>{{ dict_sheet.female }}</td>
            <td>{{ dict_sheet.family }}</td>
            <td><i tabindex="0" role="button" class="{{ catatan_dot(dict_sheet.catatan) }}" data-bs-trigger="focus"
                data-bs-toggle="popover" data-bs-content="{{ catatan_empty(dict_sheet.catatan) }}"></i>
            </td>
            <td><a href="{{ dict_sheet.g_sheet }}" target="_blank">{{ delete_link(dict_sheet.g_sheet)}}</a></td>
            <td><a href="{{ dict_sheet.excel }}" target="_blank">{{ delete_link(dict_sheet.excel)}}</a></td>
            <td><i role="button" class="fas fa-times fa-lg" style="color:red" data-bs-toggle="modal"
                data-bs-target="#modal{{ num_range }}"></i>

              <div class="modal fade" id="modal{{ num_range }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Ada anda pasti untuk PADAM?<br> Rujukan: {{ dict_sheet.cac }} <br> PIC: {{ dict_sheet.pic }}
                    </div>
                    <div class="modal-footer">
                      <form action=/padam method="POST">
                        <button button type="submit" class="btn btn-danger">PADAM</button>
                        <input type="hidden" id="padam_form" name="padam_form" value="{{ num_range }}">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">TIDAK</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

            </td>
            <td>
              <form action=/status method="POST">
                <select name="status_form" id="status_form" onchange="this.form.submit()">
                  <option value="{{ dict_sheet.status}}" selected>{{ dict_sheet.status}}</option>
                  <option value="TERIMA">TERIMA</option>
                  <option value="SIAP">SIAP</option>
                  <option value="MASALAH">MASALAH</option>
                </select>

                <input type="hidden" id="custId" name="status_id" value="J{{ num_range }}">
              </form>
            </td>
          </tr>

          {% endfor %}

        </tbody>
      </table>
    </div>
    <div class="text-center">
      <a class="btn btn-primary" href="{{ url_for('panduan')}}" onclick="window.open('{{ url_for('panduan')}}', 
                         'newwindow', 
                         'width=500,height=700'); 
              return false;">Panduan Petugas UCC</a>
      <a class="btn btn-primary" href="{{ url_for('kriteria')}}" onclick="window.open('{{ url_for('kriteria')}}', 
                          'newwindow', 
                          'width=900,height=500'); 
              return false;">Kriteria PKRC</a>


    </div>



  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
    integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
    crossorigin="anonymous"></script>

  <script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })
    var popover = new bootstrap.Popover(document.querySelector('.popover-dismiss'), {
      trigger: 'focus'
    })
  </script>
  <script>
    $(document).ready(function () {
      setInterval(function () {
        $("#listorder").load(window.location.href + " #listorder");
      }, 60000);
    });
  </script>

</body>

</html>